.wrapper {
	height: 31.25em;
}
.messagesAndButton {
	display: flex;
	flex-direction: column;
	justify-content: end;
	position: relative;
	height: 100%;
	max-height: calc(100% - 3.1em);
}
.messages {
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding-right: 10px;
	padding-top: 10px;
}
.showThisInCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 3em);
}


