.wrap {
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid rgb(17, 17, 17);
  border-top: 0.5px solid rgb(17, 17, 17);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 48px;
  width: 48px;
  padding: 12px;
  border-radius: 50%;
}
.content {
  display: flex;
  flex-direction: column;
}

.title {
  padding-top: 12px;
}

.message {
  padding-bottom: 12px;
}

.date {
  padding-top: 12px;
  display: flex;
  justify-content: end;
  align-items: start;
  width: 50px;
}

.messageColor {
  color: #8d9094;
}
